agl1=10.000
agl2=10.000
agl3=0.000
agl4=0.000
# Use DStarMonitor instead of built in APRS
aprsEnabled=1
aprsHostname=northwest.aprs2.net
aprsPort=14580
atStartup1=0
atStartup2=0
atStartup3=0
atStartup4=0
band1_1=0
band1_2=0
band1_3=0
band2_1=0
band2_2=0
band2_3=0
band3_1=0
band3_2=0
band3_3=0
band4_1=0
band4_2=0
band4_3=0
ccsEnabled=1
ccsHost=CCS702
dcsEnabled=1
description1_1=TownName
description1_2=State - Country
description1=TownName2
description2_1=TownName2
description2_2=State - Country
description2=State - Country
description3_1=
description3_2=
description4_1=
description4_2=
dextraEnabled=1
dextraMaxDongles=5
dplusEnabled=1
dplusLogin=CALLSIGN-Registered-DPLUS
dplusMaxDongles=5
dratsEnabled=1
dtmfEnabled=1
echoEnabled=1
frequency1=145.25000
frequency2=442.46250
frequency3=0.00000
frequency4=0.00000
gatewayAddress=
gatewayCallsign=CALLSIGN-Registered-ircDDB
gatewayType=0
hbAddress=127.0.0.1
hbPort=20010
icomAddress=172.16.0.20
icomPort=20000
infoEnabled=1
ircddbEnabled=1
ircddbEnabled2=1
#ircddbEnabled3=1
#ircddbEnabled4=0
ircddbHostname=group2-irc.ircddb.net
ircddbHostname2=rr.openquad.net
#ircddbHostname3=freestar-irc-cluster.ve3lsr.ca
#ircddbHostname4=
ircddbPassword=PASSWORD
ircddbPassword2=
#ircddbPassword3=
#ircddbPassword4=
ircddbUsername=CALLSIGN-Registered-ircDDB
ircddbUsername2=CALLSIGN-Registered-ircDDB
#ircddbUsername3=
#ircddbUsername4=
language=6
latitude=48.555788
latitude1=48.555788
latitude2=48.555788
latitude3=0.000000
latitude4=0.000000
logEnabled=1
longitude=-123.026835
longitude1=-123.026835
longitude2=-123.026835
longitude3=0.000000
longitude4=0.000000
offset1=-0.6000
offset2=5.0000
offset3=0.0000
offset4=0.0000
rangeKms1=30.000
rangeKms2=25.000
rangeKms3=0.000
rangeKms4=0.000
reconnect1=0
reconnect2=0
reconnect3=0
reconnect4=0
reflector1=
reflector2=
reflector3=
reflector4=
remoteEnabled=1
remotePassword=PASSWORD
remotePort=55386
repeaterAddress1=172.16.0.1
repeaterAddress2=172.16.0.1
#repeaterAddress3=127.0.0.1
#repeaterAddress4=127.0.0.1
repeaterBand1=C
repeaterBand2=B
#repeaterBand3=
#repeaterBand4=
repeaterCall1=
repeaterCall2=
repeaterCall3=
repeaterCall4=
repeaterPort1=20000
repeaterPort2=20000
#repeaterPort3=20013
#repeaterPort4=20014
repeaterType1=1
repeaterType2=1
repeaterType3=0
repeaterType4=0
starNetBand1=A
starNetBand2=A
starNetBand3=A
starNetBand4=A
starNetBand5=A
starNetCallsign1=
starNetCallsign2=
starNetCallsign3=
starNetCallsign4=
starNetCallsign5=
starNetCallsignSwitch1=0
starNetCallsignSwitch2=0
starNetCallsignSwitch3=0
starNetCallsignSwitch4=0
starNetCallsignSwitch5=0
starNetGroupTimeout1=300
starNetGroupTimeout2=300
starNetGroupTimeout3=300
starNetGroupTimeout4=300
starNetGroupTimeout5=300
starNetInfo1=
starNetInfo2=
starNetInfo3=
starNetInfo4=
starNetInfo5=
starNetLogoff1=
starNetLogoff2=
starNetLogoff3=
starNetLogoff4=
starNetLogoff5=
starNetPermanent1=
starNetPermanent2=
starNetPermanent3=
starNetPermanent4=
starNetPermanent5=
starNetReflector1=
starNetReflector2=
starNetReflector3=
starNetReflector4=
starNetReflector5=
starNetTXMsgSwitch1=1
starNetTXMsgSwitch2=1
starNetTXMsgSwitch3=1
starNetTXMsgSwitch4=1
starNetTXMsgSwitch5=1
starNetUserTimeout1=300
starNetUserTimeout2=300
starNetUserTimeout3=300
starNetUserTimeout4=300
starNetUserTimeout5=300
url1=
url2=
url3=
url4=
url=http://callsign.ircddb.net
windowX=-1
windowY=-1
